{{!-- Post Creation Container --}}
      {{!-- <div class="container" id="create-post">
        <div class="row">
          <div class=" card no-pad col-md-12">
            <div class="card-header p-4 site-heading">Add a Comment</div>
            <div class="m-3">
              <label for="comment-text" class="form-label site-heading">Comment:</label>
              <textarea class="form-control" id="comment-text" placeholder="Enter Comment Here..." rows="3"></textarea>
            </div>
            <br>
            <button type="button" class="btn btn-dark col-2 mx-auto" id="add-comment">Submit</button>
            <br>
          </div>
        </div>
      </div> --}}

<div class="container col-sm-10">
    <div class="card border border-4 rounded bg-light text-dark mt-2">
        <div class="card-header">
            <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
        </div>
    </div>
</div>