<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h2 class="app-heading">Welcome, {{username}}!</h2>
      <button class="btn btn-lg btn-outline-info" id="new-post-bttn"> + New Post</button>
      <h6 id="success" class="success hide">Post Saved</h6>
    </div>
    <div class="col-sm-9">
      <div class="container" id="post-display">
        <div class="row">
          {{#if postComments.length}}
            <h3 class="app-heading">Your Blog Posts:</h3>
              {{#each postComments as |post|}}
                <div class="row give-me-space">
                  <div class="card no-pad">
                    <div class="card-header">
                      <h5 class="post-title">Hello{{post.post.title}}</h5>
                      <h5 class="user-name">`- by Author: {{post.user.username}}</h5>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">Comment:</h5>
                      <p class="card-text">{{post.comment_body}}</p>
                    </div>
                  </div>
                </div>
              {{/each}}
          {{/if}}
        </div> 
      </div>

{{!-- Post Creation Container --}}
      <div class="container hide" id="create-post">
        <div class="row">
          <div class=" card col-md-12">
            <div class="card-header">Create New Console.Blog(Post)</div>
            <div class="mb-3">
              <label for="post-title" class="form-label Post-headings">Title</label>
              <input type="text" class="form-control" id="post-title" placeholder="Enter Post Title" aria-label="Post Title">
            </div>
            <div class="mb-3">
              <label for="post-content" class="form-label Post-headings">Content</label>
              <textarea class="form-control" id="post-content" placeholder="Enter Post Content Here..." rows="3"></textarea>
            </div>
            <br>
            <button type="button" class="btn btn-dark col-2 mx-auto" id="create-post">Create Post</button>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="./js/posts.js"></script>