.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.give-me-space {
  margin: 7px;
}

.no-pad {
padding: 0;
}

.site-text {
  text-decoration: none;
  font-size: 1.2rem;
}

.site-heading {
  font-size: 1.5rem;
  text-align: center;
}

.nav-link {
  font-size: 1.3rem;
}